Print Hello World

In [1]:
print("Hello World") #remember to always use brackets and lowercase

Hello World

Print using a variable

In [2]:
greeting = "How do you do"
print(greeting) #you dont use quotation marks with a variable

How do you do

Combinining Strings

In [3]:
first_name = "Ada"
last_name = "Lovelace"
full_name = first_name + " " + last_name
print(full_name)

Ada Lovelace

Base Types

In [1]:
dummy_integer = 783 #integer
dummy_float =[9.25, 1.7e-6] #float e-a = 10^(-a)
dummy_string = "anything in quotation marks"
dummy_boolean = True #case sensitive

Container Types

In [2]:
dummy_list = [1, 2, 3, 5, 7, 11] #ordered sequence
dummy_tuple = (1, 2, 3, 5,9, 11, 13) #ordered sequence, non-mdifiable values. The contents of a tuple cant be changed
dummy_dictionary = {"key": "value", 1: "one", 3.142: "pi"} #key/value association, each key is unique
dummy_set = {"key 1", "this", "that", 42, 2.23, 1.5e10, "fifty"}

Variable assignments

In [5]:
x = 1 + 2.3 #variable = value
q=w=e= 2 #assigning all variables with the same value
y,u,i = 2,4.56,7.3 #multiple assignments three variables to three values
y,u = u,y #value swap
x +=3 #increments, same as x = x+3
q -=1 #same as q = q-1
del w #remove name w

Line 1: Make a list
Line 2: get first item in list

In [4]:
scientists = ["Marie Curie", "Rachel Carson", "Mae Jemison", "Katherine Johnson"]
scientists[0]

'Katherine Johnson'

get last item in list

In [5]:
scientists[-1]

'Katherine Johnson'

Adding items to list

In [6]:
scientists.append("Albert Einstein")
print(scientists)

['Marie Curie', 'Rachel Carson', 'Mae Jemison', 'Katherine Johnson', 'Albert Einstein']

Creating numerical lists

In [9]:
numList = []
for x in range(1,11):   #specify range or values to be loop through
    x +=5     #carry out the function x = x+5
    numList.append(x)  #add the value of x for each repetition to the list
print(numList)    #goes from 1 to 10 therefore the last number is not included

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

Creating numerical lists in one line

In [12]:
theList = [x+5 for x in range(1,11)]   #dont put in an argument but the function itself, you must not have an "="
print(theList)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

Slicing the list

In [13]:
firstTwo = scientists[:2]
print(firstTwo)

['Marie Curie', 'Rachel Carson']

copying a list

In [14]:
copyOfScientists = scientists[:]
print(copyOfScientists)

['Marie Curie', 'Rachel Carson', 'Mae Jemison', 'Katherine Johnson', 'Albert Einstein']

###If statements
equals  x==25
not equal x!=25
greater than x>25
greater than  or equal to  x>=25
less than x<25
less than or equal to x<=25

###Conditional tests with lists
"Marie Curie" in scientists
"Albert Einstein" not in scientists

Assigning boolean values

In [ ]:
green_light = True
red_light = False

Simple if statement

In [15]:
age = 21
if age  > 18:
    print("You are old enough to vote")

You are old enough to vote

if-elif-else statement
change the status to see different course_fees

In [18]:
status = "staff"
if status == "student":
    course_fee = 100
elif status == "staff":
    course_fee = 150
else:
    course_fee = 200
print(course_fee)

150

Accessing a value in a dictionary
note that you can't concantenate integers, you have to convert it into a string first

In [28]:
dog = {'fur': "gold", "breed": "husky"}
print("the dog has " + dog['fur'] + " fur" )

the dog has gold fur

adding a new key:value pair
dictName[key] = value

In [29]:
dog['age'] = 4
print(dog)

{'fur': 'gold', 'breed': 'husky', 'age': 4}

loop through key: value pairs

In [30]:
for key, value in dog.items():
    print("The " + key + " is " + str(value))  #str ensures all values are strings

The fur is gold
The breed is husky
The age is 4

Looping through all the values in a dictionary

In [33]:
for trait in dog.values():
    print(str(trait) + " is a characteristic")

gold is a characteristic
husky is a characteristic
4 is a characteristic

While Loop: repeats a set of code as long as a condition is true

In [34]:
current = 5
while current <= 30:
    print(current)
    current +=5

5
10
15
20
25
30